<header>
  <nav class='navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-light box-shadow mb-3 '>
    <div class="container">
      <a class="navbar-brand" [routerLink]='["/"]'>B3hdad</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded" (click)="toggle()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse" [ngClass]='{"show": isExpanded}'>
        <app-nav-menu-login></app-nav-menu-login>
        <ul class="navbar-nav flex-grow-1">
          <!--<li class="nav-item" [routerLinkActive]='["active"]' [routerLinkActiveOptions]='{ exact: true }'>
            <a class="nav-link" [routerLink]='["/"]'>Top</a>
          </li>-->
          <!--<li class="nav-item" [routerLinkActive]='["active"]'>
            <a class="nav-link" [routerLink]='["home/fresh"]'>Fresh</a>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</header>
